---
import type { CollectionEntry } from 'astro:content';

// Define props using Astro's generated types
interface Props {
  project: CollectionEntry<'projects'>;
}
const { project } = Astro.props;
---

<article class="project-card mx-4 mb-16 block break-inside-avoid">
  <a href={`/projects/${project.slug}`}>
    {
      project.data.heroImage && (
        <img
          src={project.data.heroImage}
          alt={project.data.title}
          class="w-full h-auto mb-4"
        />
      )
    }
    <div class="p-1">
      <p
        class="text-xs uppercase font-bold font-desc text-dominoivory/50 tracking-widest my-0"
      >
        {project.data.type}
      </p>
      <p class="font-bold text-lg">{project.data.title}</p>

      <p class="mb-8 text-xs text-justify">{project.data.description}</p>
    </div>
  </a>
</article>
