---
import { getCollection, render } from 'astro:content';
import Project from '../../layouts/Project.astro';
import Head from '../../components/Head.astro';
import ProjectHeader from '../../components/ProjectHeader.astro';
import { YouTube } from '@astro-community/astro-embed-youtube';

// Generate paths for all projects
export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { slug } = Astro.params;
// Get current project from props
const { project } = Astro.props;
const { Content } = await render(project); // Renders MDX content
---

<Head />

<body class="w-9/10 max-w-7xl mx-auto bg-fadedblack text-dominoivory mt-40 p-4">
  <article>
    <!-- Render Featured Video or Hero Image -->
    {
      project.data.featuredVideo ? (
        <YouTube
          id={project.data.featuredVideo}
          poster={
            project.data.featuredVideoThumb || '/path/to/default-thumbnail.jpg'
          }
          class="w-auto aspect-video border-2 border-dominoivory"
        />
      ) : (
        project.data.heroImage && (
          <img
            src={project.data.heroImage}
            alt={project.data.title}
            class="w-full h-auto mb-4"
          />
        )
      )
    }

    <Project title={project.data.title} />

    <ProjectHeader>
      <div slot="title">
        <eyebrow>{project.data.type}</eyebrow>
        <h1 class="text-balance">{project.data.title}</h1>
      </div>
      <div
        slot="description"
        class="prose text-dominoivory flex h-full items-center text-balance"
      >
        {project.data.description}
      </div>
      <div slot="duties">
        <p class="text- uppercase font-bold transform">Duties</p>
        <div
          class="ml-2 grid grid-cols-2 md:grid-cols-1 gap-2 text-xs text-dominoivory"
        >
          {
            project.data.duties?.map((duty) => <div>{duty}</div>) ?? (
              <div> &nbsp; </div>
            )
          }
        </div>
      </div>
    </ProjectHeader>

    <Content />
    <!-- Rendered MDX content goes here -->
  </article>
</body>
