---
import type { CollectionEntry } from 'astro:content';
import Head from '../components/Head.astro';
import Footer from '../components/Footer.astro';
import HeroMedia from '../components/HeroMedia.astro';
import Back from '../components/Back.astro';
import CaseStudy from '../components/CaseStudy.astro';
import ProjectHeader from '../components/ProjectHeader.astro';

type Props = CollectionEntry<'projects'>['data'];

const { title, description, pubDate, type, duties, heroImage, featuredVideo } =
  Astro.props;
---

<head>
  <Head />
</head>

<body class="w-9/10 max-w-7xl mx-auto bg-fadedblack text-dominoivory mt-40 p-4">
  <main class="w-9/10 min-h-screen flex flex-col">
    <article class="flex-grow">
      <!-- Hero Media Section -->
      <HeroMedia heroImage={heroImage} featuredVideo={featuredVideo} />

      <!-- Content Section -->

      <ProjectHeader>
        <div slot="title">
          <eyebrow>{type}</eyebrow>
          <h1 class="text-balance">{title}</h1>
        </div>
        <div
          slot="description"
          class="prose text-dominoivory flex h-full items-center text-balance"
        >
          {description}
        </div>
        <div slot="duties">
          <p class="text-xs uppercase font-bold transform">Duties</p>
          <div
            class="ml-2 grid grid-cols-2 md:grid-cols-1 gap-2 text-xs text-dominoivory"
          >
            {duties.map((duty) => <div>{duty}</div>)}
          </div>
        </div>
      </ProjectHeader>

      <slot />
    </article>
  </main>
  <Footer />

  <script>
    // Navigate back to the projects index
    function navigateBack() {
      const pageContent = document.getElementById('page-content');
      pageContent.classList.add('opacity-0');
      setTimeout(() => {
        window.location.href = '/projects';
      }, 200); // Match the fade-out animation duration
    }

    // Listen for the Escape key
    document.addEventListener('keydown', (event) => {
      if (event.key === 'Escape') {
        navigateBack();
      }
    });
  </script>
</body>
